{% extends "layout.njk" %}

{% block head %}
<title>Sobre</title>
{% endblock %}

{% block content %}


<div id="logo_img">
    <img src="https://images.unsplash.com/photo-1552085833-1f84b07c56f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=893&q=80"
        alt="Company">
    <h1>Company Lorem Ipsum</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed cursus porttitor dapibus. Praesent nec mauris tincidunt,
        dignissim risus a, sodales massa. Phasellus eget mauris in sapien
        lacinia aliquam vitae ut dui. Maecenas tristique mattis eros et fringilla.
        Donec pharetra, ligula at pharetra efficitur, libero lacus faucibus dui,
        sed finibus nunc nisi sit amet nunc. Suspendisse potenti.
        Nullam fermentum finibus ligula condimentum porta. Proin ac diam sapien.</p>
</div>
<div class="list">
    <h3>Technologies</h3>
    <ul>
        <li>HTML</li>
        <li>Css</li>
        <li>JavaScript</li>
    </ul>
</div>
<div id="links-footer" class="links">
    <a href="https://github.com/GaberRB" target="_blank">Github</a>
    <a href="https://www.instagram.com/gabrielriosb/" target="_blank">Instagram</a>
    <a href="https://www.linkedin.com/in/gabriel-riosb/" target="_blank">Linkedin</a>
</div>
{% endblock %}