<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap" rel="stylesheet">
    <title>Error</title>
</head>
<body id="error-body">
    <header>
        <h2>Error 404 - Not found</h2>
    <div class="go-home">
        <a href="/" onmouseover="change_img()">Go Home !!</a>
    </div>
    </header>
    <div onmouseover="change_img_error()">
    
    <div class="error-404">
        <div class="img-error">
            <img id="imgId" src="/error.gif" alt="">
        </div>
        
    </div>

  
        
    </div>
    </div>
    <script src="/script.js"></script>

</body>
</html>